@using Stimulsoft.Report.Mvc
@{
    ViewBag.Title = "Print";
}

<h2>Print</h2>
<hr />
@Html.Stimulsoft().StiMvcViewer(new StiMvcViewerOptions()
{
    Theme=StiTheme.Office2007Silver,
    ActionGetReportSnapshot="report",
    ActionViewerEvent = "viewerEvent"
})

